<div class="container mt-4">
  <div class="row">
    <div class="col-12">
     
      <!-- <input type="text" appCreditCard class="form-control"> -->


      <!-- HostEventListner -->
      <!-- <input type="text" appLowerCase class="form-control mb-5"> -->

      <p basicCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eius eaque illo nisi aliquid dolorem laborum
        libero at quam hic eveniet repellat, ducimus fugiat, ut quae nostrum impedit repellendus quis?
      </p>
      <hr> 

      <p appAdvanceCss [hoverColor]="'black'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quod ratione maxime, nisi adipisci animi
        exercitationem omnis non! Natus commodi voluptas sint adipisci rerum autem deleniti error quibusdam voluptate
        repellendus.
      </p>
      <hr>

      <p hover1Color [color1]="'gold'" [color2]="'yellow'"> 
         i am frontend developer 
      </p> 

      <p [class.bg-warning]="flag">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </p>

      <p [class.bg-primary]="true" >
        <strong> conditional statement class apply math.random </strong> Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus ipsam
        animi exercitationem at sint ipsa libero illum vitae? Ab.
      </p>

    </div>
  </div>
</div>





